.quote-text blockquote.wp-block-quote::before{
	content: "\f16d";
    font-size: 80px;
	font-family: flaticon_pixio !important;
    font-weight: normal !important;
    opacity: 1;
	opacity: 0.2;
    width: auto;
    height: auto;
    top: auto;
    left: auto;
    right: 0px;
    bottom: 0px;

	@include respond("tab-port"){
		font-size: 60px;
	}
	@include respond("phone"){
		font-size: 40px;
	}
}
// ===Post-Quote === //
.blog-single {
    > .dz-media {
        > img + .quote-text {
            position: absolute;
        }

        &:not(:has(img)) > .quote-text {
            position: static;
            transform: none; 
            width: auto; 
			background-color: var(--rgba-primary-1);
        }
    }
}
// Quote-Post=====
.quote-text {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.9);
    padding: 40px;
    width: 720px;

	@include respond("tab-land"){
		width: 510px;
		padding: 20px;
	}
	@include respond("phone-land"){
		width: calc(100% - 20px);
		padding: 8px;
	}

	blockquote {
		&.wp-block-quote{
			margin: 0px;
			background-color: transparent;
			border: 0;
			padding: 1.25rem 2rem 1.25rem 1.875rem;
			text-align: left;
			@include respond("phone"){
				padding: 15px;
			}


			&::before{
				opacity: 0.5;
				right: 0px;
				bottom: 0px;
				left: auto;
				top: auto;
				background-size: contain;

				@include respond("phone"){
					width: 50px;
					height: 50px;
				}
			}
		}
		
		p{
			@include respond("tab-land"){
				font-size: 18px;
			}
			@include respond("phone"){
				font-size: 12px;
			}
		}
	}
}

.tutorial{
	border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 30px;
	.tutorial-border{
		border-bottom: 1px solid var(--border-color);
		
	}
	ul {
		margin: 0px;
		padding: 0px 20px !important;
		li {
			list-style: auto !important;
			padding: 5px 0px;
			font-size: 16px;
			color: var(--primary) !important;
			a {
				color: var(--primary);
			}
		}
	}
}
.tutorial-data > div {
	scroll-margin-top: 100px;
}

.cateloge{
	border: 1px solid var(--border-color);
    border-radius: 10px;
	padding: 10px 20px ; 
	display: flex;
	gap: 20rem;
	margin-bottom: 15px;
	margin-top: 25px;
	table{
		margin-bottom: 0px;
		tr {
			background-color: transparent !important;
			td{
				padding: 4px 0px; 
				color: #000;
				border: 0;
			}
		}
	}
}

.no-sidebar {
	.dz-title {
		margin-right: auto;
		margin-left: auto;
		text-align: center;
	}
	.dz-meta ul {
		justify-content: center;
	}
}

.corner-media{
	position: sticky;
    top: 0;
	img{
		height: 100vh;
		object-fit: cover;
		width: 100%;
	  }
}

.dz-post-text hr {
    height: 4px;
	border-top: 4px solid;
	margin: 40px 0;
}


// Status-Post
.post-status-btn {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    width: 100px;
    height: 100px;
	border: 0;
    background-color: rgba(0, 0, 0, 0.4);
	@include respond('phone') {
		width: 80px;
    	height: 80px;
	}
}
.modal{
	&.status-modal{
		background: rgba(0, 0, 0, 0.6);
		backdrop-filter: blur(10px);
		overflow-y: hidden;

		.modal-dialog-centered{
			@include respond("phone"){
				margin: 0;
			}
		}
		
		.btn-close{
			position: absolute;
			top: 0;
			right: 0;
			width: 44px;
			height: 44px;
			color: #fff;
			background-image: url('data:image/svg+xml,<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M21 1L1 21" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M1 1L21 21" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
			z-index: 9;

			@include respond("phone"){
				top: 20px;
				right: 20px;
			}
		}
		.status-pagination{
			position: absolute;
			top: 0;
			bottom: auto !important;
			left: 50% !important;
			height: auto;
			width: 100%;
			display: flex;
			justify-content: space-between;
			z-index: 9;
			transform: translate(-50%);
			padding: 10px 0;
			
			.swiper-pagination-bullet{
				height: 5px;
				background-color: rgba(255, 255, 255, 0.5);
				opacity: 1;
				width: 100%;
				border-radius: 10px;
				position: relative;
				overflow: hidden;
	
				&::after{
					content: "";
					height: 100%;
					width: 0;
					background: #fff;
					position: absolute;
					top: 0;
					left: 0;
				}
				&.swiper-pagination-bullet-active::after{
					width: 100%;
					transition: 3.5s linear;
				}
			}
		}
		.modal-content{
			border-radius: 30px;

			.status-wrapper {
				.status-swiper{
					.swiper-slide{
						&::after{
							content: "";
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 30%;
							background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0.3%, rgba(0, 0, 0, 0.6) 100%);
						}
						.status-top-box{
							position: absolute;
							top: 0;
							left: 0;
							z-index: 9;
							color: #fff;
							width: 100%;
							display: flex;
							justify-content: space-between;
							padding: 30px 20px 0px 20px;
							.post-date{
								font-size: 16px;
								color: #fff;
								opacity: 0.5;
							}
							.title{
								font-size: 24px;
								color: #ffff;
								font-family: 'Roboto';
								font-weight: 800;
								margin-bottom: 0;
								@include respond("phone"){
									font-size: 17px;
								}
						
							}
							.status-btn{
								@include respond("phone"){
									display: flex;
									flex-direction: column;
									justify-content: end;
								}
								.btn.btn-sm{
									white-space: nowrap;
									padding: 6px 10px;
									border-radius: 5px;
						
									&:hover{
										background-color: #ebebeb;
										color: #000;
									}
								}
						
								.volume-icon{
									width: 44px;
									height: 44px;
									position: relative;
									background: rgba(255, 255, 255, 0.2);
									display: flex; 
									align-items: center;
									justify-content: center;
									border-radius: 50%;
									float: right;
								}
							}
						}
						height:unset;
			
						img{
							height: 100vh;
							width: 100%;
							object-fit: cover;
						}
			
						video {
							width: 100%;
							height: 100%;
							position: fixed;
							left: 0;
							top: 0;
							object-fit: cover;
							z-index: -1;
						}
					}
				}
			}
		}
	}

}
